/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

:root {
  scroll-behavior: smooth;
  --gray-0: hsl(0 0% 99%);
  --gray-1: hsl(0 0% 94%);
  --gray-2: hsl(0 0% 92%);
  --gray-3: hsl(0 0% 80%);
  --gray-4: hsl(0 0% 60%);
  --gray-5: hsl(0 0% 40%);
  --gray-6: hsl(0 0% 20%);

  --bg: var(--gray-0);
  --surface: var(--gray-1);
  --muted: var(--gray-3);
  --text: var(--gray-6);
  --subtle: var(--gray-5);
  --emphasis: var(--gray-4);

  --warning-bg: hsl(45 100% 95%);
  --warning-content: hsl(45 100% 40%);
  --action-content: hsl(220 90% 40%);
  --action-bg: hsl(220 90% 90%);

  --border: var(--gray-2);
  --border-subtle: var(--gray-1);

  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --gray-0: hsl(210 8% 6%);
    --gray-1: hsl(210 7% 12%);
    --gray-2: hsl(210 6% 18%);
    --gray-3: hsl(210 6% 28%);
    --gray-4: hsl(210 5% 44%);
    --gray-5: hsl(210 6% 66%);
    --gray-6: hsl(210 8% 92%);

    --bg: var(--gray-0);
    --surface: var(--gray-1);
    --muted: var(--gray-3);
    --text: var(--gray-6);
    --subtle: var(--gray-5);
    --emphasis: var(--gray-4);

    --warning-bg: hsl(45 100% 12%);
    --warning-content: hsl(45 100% 65%);

    --border: var(--gray-2);
    --border-subtle: var(--gray-1);
  }
}

/* Apply neutral root visuals */
body {
  background: var(--bg);
  color: var(--text);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  -webkit-font-smoothing: antialiased;
}

.warning {
  color: var(--warning-content);

  svg {
    fill: var(--warning-content);
    color: var(--warning-content);
  }
}


p {
  font-size: var(--font-size-sm);
  color: var(--subtle);
  text-wrap: pretty;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

h5 {
  font-size: var(--font-size-base);
  font-weight: 500;
}

input {
  line-height: 1.25;
}

svg {
  fill: var(--subtle);
  color: var(--subtle);
  stroke: var(--subtle);
  min-width: 1.5rem;
  height: auto;
  aspect-ratio: 1;
}

/* ghost button */
button.ghost {
  background: none;
  color: var(--gray-6);

  &:hover {
    background-color: var(--gray-1);
  }

  &:focus {
    outline: 2px solid var(--gray-6);
    background-color: var(--gray-1);
  }
}

button {
  background-color: var(--gray-6);
  color: var(--gray-0);
  border: none;
  padding: 0.375rem;
  border-radius: 0.5rem;


  svg {
    fill: var(--subtle);
  }

  &:hover {
    background-color: var(--gray-5);
    cursor: pointer;
  }
}

button:disabled {
  background-color: var(--gray-1);
  color: var(--gray-3);
}

button:has(> svg:only-child) {
  padding: 0.375rem;
  display: flex;
  width: fit-content;
}

button.full-width {
  width: 100% !important;
  padding: 0.5rem !important;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    height: 1.25em;
    fill: inherit;
  }
}

main>header {
  flex: 0 0 auto;
  position: absolute;
  z-index: 1;

  nav {
    margin: 1rem;

    h1 {
      font-size: var(--font-size-lg);
      font-weight: 600;
      letter-spacing: -0.035em;
    }
  }
}

main {
  height: 100svh;
  display: flex;
  flex-direction: column;
  position: relative;

  flex: 1 1 100%;
}


.main-container {
  display: flex;
}

.sidebar {
  padding: 1rem 0.5rem;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  border-right: 1px solid var(--gray-1);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  .end {
    margin-top: auto;
  }

  button:first-of-type {
    width: fit-content;
  }


  button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;

    span {
      transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);

      @starting-style {
        opacity: 0;
        transform: translateX(-1rem);
      }
    }
  }
}



.sidebar[aria-expanded="true"] {
  flex: 1 1 300px;
}

.status.error, .status.loading {
  margin: auto;
  display: grid;
  align-items: center;
  column-gap: 0.75rem;
  grid-template-columns: 1rem 1fr;
  text-wrap: balance;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;

  @starting-style {
    opacity: 0;
    transform: translateY(1rem);
  }

  p {
    grid-column: 2;
  }

  svg {
    height: 1rem;
  }
}

.status {
  margin: auto;
  max-width: 40ch;
}

.status.empty {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  form {
    display: flex;
    gap: 0.25rem;
  }

  span.or {
    width: 100%;
    text-align: center;
    position: relative;
    
    span {
      background-color: var(--gray-0);
      padding-inline: 1rem;
    }

    &::after {
      content: "";
      height: 1px;
      left: 0;
      right: 0;
      top: 50%;
      position: absolute;
      background-color: var(--border-subtle);
      z-index: -1;
    }
  }
}