input.u-sr-only {
    width: 0;
    height: 0;
    position: absolute;
}

input.u-ghost-input,
input.u-sr-only {
    border: none;
    background: none;
}

.tabs {
    background-color: var(--gray-1);
    position: relative;
    display: flex;
    padding: 0.25rem;
    border-radius: 0.75rem;
    width: 100%;

    .tabs__option {
        flex: 1 1 100%;
        padding: 0.25rem 0.5rem;
        text-align: center;
        z-index: 1;
        font-size: var(--font-size-sm);
    }
}

.tabs::after {
    content: "";
    background-color: var(--gray-2);
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    bottom: 0.25rem;
    border-radius: 0.5rem;
    width: 50%;
    transition: 0.25s transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tabs:has(.tabs__option:nth-child(2) input:checked)::after {
    transform: translateX(calc(100% - 0.5rem));
}

.tabs:focus-within::after {
    outline: 2px solid var(--gray-6);
}


.input-field--path {
    border: 1px solid var(--gray-2);
    background-color: var(--gray-1);
    padding: 0;
    border-radius: 0.5rem;
    display: flex;
    width: 100%;

    .input-field__trigger {
        padding: 0.5rem;
        border-right: 1px solid var(--gray-2);

        &:focus-within {
            background-color: var(--gray-1);
        }
    }

    transition: 0.5s box-shadow cubic-bezier(0.075, 0.82, 0.165, 1);

    &:focus-within {
        box-shadow: 0 0px 0px 2px var(--gray-3);

        input {
            outline: none;
        }
    }
}

.input-field__trigger {
    border-radius: 0.5rem 0 0 0.5rem;
    cursor: pointer;
}

.input-field__trigger:focus-within,
.input-field__status-button:focus {
    background: var(--gray-2) !important;
    outline: none;
}


.input-field {
    display: flex;
    width: 100%;

    input {
        padding: 0.5rem;
        width: 100%;
        color: var(--text);
    }
}



.input-field__status {
    display: flex;
    aspect-ratio: 1;

    button.input-field__status-button,
    button.input-field__status-button:focus {
        width: 100%;
        padding: 0;
        border-radius: 0 0.5rem 0.5rem 0rem;
        background: none;
    }

    svg {
        margin: auto 0.5rem;
        height: 1.25em;
        fill: var(--subtle);
    }
}


.input-field:not(:is(.input-field--path *)) {
    border: 1px solid var(--gray-2);
    background-color: var(--gray-1);
    border-radius: 0.5rem;
    transition: 0.5s box-shadow cubic-bezier(0.075, 0.82, 0.165, 1);

    &:focus-within {
        box-shadow: 0 0px 0px 2px var(--gray-4);

        input:focus {
            outline: none;
        }
    }
}
