.input--invisible {
    width: 0;
    height: 0;
    position: absolute;
}

.input--ghost,
.input--invisible {
    border: none;
    background: none;
    color: var(--text);
}

.input--ghost {
    width: 100%;
    line-height: 1.25;
}


.input-container {
    display: flex;

    >*:first-child {
        border-radius: 0.5rem 0 0 0.5rem;
    }

    >*:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
    }

    hr {
        border: none;
        border-left: 1px solid var(--gray-2);
    }
}

.input-file,
.input-icon,
.input-status,
.input--ghost {
    padding: 0.5rem;
}

.input-icon {
    padding-right: 0;
}


.input-status {
    position: relative;
    &:empty {
        &::after {
            content: '';
            display: block;
            width: 1.5rem;
        }
    }

    &:hover .input-error,
    &:focus-within .input-error {
        display: block;
    }

    .input-error {
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(calc(-100% - 0.25rem));

        font-size: var(--font-size-sm);
        padding: 0.375rem 0.5rem;
        border-radius: 0.25rem;
        background-color: var(--gray-6);
        color: var(--gray-0);

        max-width: 30ch;
        width: max-content;
    }

    .input-error::after {
        content: "";
        height: 0.5rem;
        aspect-ratio: 1;
        position: absolute;
        background-color: var(--gray-6);
        transform: rotate(-45deg);
        bottom: -0.25rem;
        left: calc(50% - 0.25rem);
    }
}