#font-viewer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  height: calc(100svh - 2rem);
  padding-top: 3rem;
  position: relative;

  input {
    background-color: var(--gray-1);
    border: 1px solid var(--gray-2);
    border-radius: 0.75rem;
    padding: 0.75rem;
    color: var(--text);
  }

  input[type="search"] {
    top: 0;
    background: none;
    position: absolute;
    border: none;
    left: 0;
    right: 0;

  }

  .virtual-list {
    scrollbar-color: var(--gray-2) transparent;
    flex: 1 1 100%;
    mask-image: linear-gradient(to bottom,
        transparent,
        black 32px,
        black calc(100% - 32px),
        transparent);
    mask-size: 100% 100%;
    /* Cover the entire container */
    mask-repeat: no-repeat;
    /* Prevent mask image from repeating */
  }
}

.font-item {
  padding: 1rem 0.5rem;
  text-align: left;
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
  transition-behavior: allow-discrete;


  @starting-style {
    transform: translateY(1rem);
    opacity: 0;
  }

  h1 {
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    text-wrap: nowrap;
    font-weight: unset;
  }
}

#font-modal:popover-open {
  inset: 0;
  margin: auto;
  height: fit-content;
  color: var(--text);
  height: 400px;
  aspect-ratio: 3 / 2;
  background-color: var(--gray-1);
  border: 1px solid var(--gray-2);
  border-radius: 1rem;
  padding: 1rem;
}