.directory-panel {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.directory-panel-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        cursor: pointer;
        padding: 0.375rem 0.5rem;
        background-color: var(--gray-6);
        color: var(--gray-1);
        border-radius: 0.5rem;
        border: none;
    }

    input {
        background: none;
        color: var(--text);
    }

    span:empty {
        display: none;
    }

    fieldset {
        border-radius: 0.5rem;
        border: 1px solid var(--gray-2);
        background-color: var(--gray-1);
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
    }

    fieldset:focus-within {
        transition: all 0.2s ease-in-out;
        box-shadow: 0 0 0 3px var(--muted);
    }

    label:has(> input[type="text"]) {
        cursor: text;
        position: relative;
        display: flex;
        width: 100%;

        span {
            display: flex;
            align-items: center;
            anchor-name: --manual-path-error;

            &:not(:has(button)) {
                margin-right: 0.5rem;
            }

            button {
                border-radius: 0.5rem;
                margin-right: 0.25rem;
                aspect-ratio: 1;
                background: none;

                &:hover {
                    background-color: var(--gray-3);
                }
            }

            &:has(> #manual-path-error:popover-open) {
                button {
                    background-color: var(--gray-3);
                }
            }

            #manual-path-error:popover-open {
                --bg: var(--gray-6);
                --border: var(--gray-3);

                position-anchor: --manual-path-error;
                inset: unset;
                bottom: anchor(top);
                right: anchor(right);
                transform: translateX(0.35rem);
                border: 1px solid var(--border);
                border-radius: 0.5rem;
                font-size: var(--font-size-sm);
                color: var(--gray-2);
                background-color: var(--bg);
                padding: 0.25rem 0.5rem;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                position: relative;
                overflow: visible;

                &::after {
                    content: "";
                    background-image: linear-gradient(135deg, transparent 50%, var(--bg) 50%);
                    height: 1rem;
                    width: 1rem;
                    position: absolute;
                    bottom: -0.5rem;
                    right: 1rem;
                    transform: rotate(45deg);
                    border-bottom: 1px solid var(--border);
                    border-right: 1px solid var(--border);
                    border-bottom-right-radius: 0.125rem;
                }
            }
        }
    }

    input[type="text"] {
        border: none;
        padding: 0.5rem;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    label:has(> input[type="file"]) {
        cursor: pointer;
        padding: 0.5rem;
        border-right: 1px solid var(--gray-2);

        &:hover,
        &:focus-within {
            background-color: var(--gray-3);
            border-radius: 0.35rem 0 0 0.35rem;
            outline: 1px solid var(--gray-4);
        }
    }

    input[type="file"] {
        width: 0;
        height: 0;
        position: absolute;
    }
}


.directory-panel-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-2);
    border-radius: 0.5rem;

    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.25rem;

        &:not(:last-child) {
            border-bottom: 1px solid var(--gray-2);
        }

        h3 {
            margin: 0;
            font-weight: 400;
            font-size: var(--font-size-base);
            color: var(--text);
            padding: 0.25rem 0.5rem;
        }

        button {
            border: none;
            background: none;
            cursor: pointer;
            border-radius: 0.5rem;
        }
    }
}

.directory-panel-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.directory-panel-manual {
    display: flex;
    gap: 0.5rem;
}
