.tab-switch {
    background-color: var(--gray-1);
    position: relative;
    display: flex;
    padding: 0.25rem;
    border-radius: 0.75rem;
    width: 100%;

    input[type="radio"] {
        width: 0;
        height: 0;
        position: absolute;
    }

    label {
        flex: 1 1 100%;
        padding: 0.25rem 0.5rem;
        text-align: center;
        z-index: 1;
        font-size: var(--font-size-sm);
    }
}

.tab-switch::after {
    content: "";
    background-color: var(--gray-2);
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    bottom: 0.25rem;
    border-radius: 0.5rem;
    width: 50%;    
    transition: 0.25s transform cubic-bezier(0.075, 0.82, 0.165, 1);
}

.tab-switch:has(label:nth-child(2) input:checked)::after {
    transform: translateX(calc(100% - 0.5rem));
}
